nav {
display: flex;
justify-content: space-between;
align-items: center;
padding: 1em 4em;
background-color: #e7e8f1;
} 

.brand img {
  width: 120px;
  transition: .3s;
}
.brand:hover > img {
  opacity: .8;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.links a{
  padding: 16px;
}

#add a  {
  color: #3400ED
}