.message {
  position: fixed;
  top: 3em;
  width: 50%;
  z-index: 10;
  background-color: #fff;
  border: solid 3px #ddd;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  margin-left: 25%; 
  /* left: -25%; */
}

.message-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.message-header button {
  padding: 0.5em;
  cursor: pointer;
}

.message p {
  font-size: 1.2em;
}