<form>
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" name="title" id="title" placeholder="ex: just relaxing in the beach..." required>
  </div>

  <div class="form-group">
    <label for="description">description</label>
    <textarea name="description" id="description" placeholder="What's happening ?" required></textarea>
  </div>

  <div class="form-group">
    <label for="photo">image</label>
    <input type="file" name="photo" id="photo">
  </div>

  <div class="form-group">
  <input type="submit" value="{{btnText}}">
  </div>
</form>