.moment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 0 auto;
}

h1 {
  margin-bottom: 1em;
}

img {
  width: 350px;
  margin-bottom: 0 auto 1em;
}

.about-moment, .actions {
  padding-bottom: 1em;
  border-bottom: 1px solid #ccc;
  padding: 1.2em;
}

.actions h3 {
  margin-bottom: .6em;
  text-align: center;
}

.comments {
  margin-bottom: 1em;
  padding: 1.5em;
  width: 100%;
}

.comment-container  {
  text-align: left;
  border-bottom: 1px solid #ccc;
  padding: 1m 0;
  
}

.comments h3 {
  margin-bottom: 2em;
}

.comments-form {
  border: none;
  width: 100%;
}

.comment {
  margin-bottom: 2em;
}